.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 3%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  font-family: var(--fontPadrao);
  font-size: 1.5em;
  font-style: normal;
  color: var(--branco);
  background-image: url(../assets/fundoHome.jpg);
}

.nomeSite:hover {
  text-decoration: underline;
}

.telasNavegacao {
  display: flex;
  gap: 20px;
}

.telasNavegacao a {
  text-decoration: none;
  color: var(--branco);
}

.barraPesquisa {
  display: flex;
  align-items: center;
  gap: 8px;

  border: 1px solid var(--cinzaClaro);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  width: 150px;
  transition: width 0.3s ease;
}

/* Realce */
.barraPesquisa:focus {
  width: 200px;
  outline: none;
  border-color: #666;
}