/* Configurações gerais */

.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    font-family: var(--fontPadrao);
    color: var(--branco);
    text-align: center;
    background-image: url(../assets/fundoHome.jpg   );
}

.apresentacao h1 {
    font-size: 15rem;
    font-weight: bold;
    margin: 0;
}

.frase {
    font-size: 2rem;
    font-style: italic;
    margin: 10px 0;
}

.autor {
    font-size: 1.5rem;
    margin: -8px 0;
}

/* Responsividade */

@media (max-width: 768px) {
    .apresentacao h1 {
        font-size: 10rem;
    }

    .frase {
        font-size: 1.5rem;
    }

    .autor {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .apresentacao {
        padding: 20px;
    }

    .apresentacao h1 {
        font-size: 7rem;
    }

    .frase {
        font-size: 1.2rem;
    }

    .autor {
        font-size: 0.9rem;
    }
}