/* Configurações gerais */

.lists-container {
  max-width: 1100px;
  margin: 0 auto 40px auto;
  padding: 20px;
  text-align: center;
}

/* Título */

.title {
  font-size: 5rem;
  margin: 120px 0 47px 0;
}

/* Perfil */

.profile-section {
  padding: 15px;
  border-radius: 10px;
  width: 100%;

  margin-bottom: 50px;
}

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

.profile-icon {
  font-size: 40px;
  margin-right: 10px;
}

.profile-info {
  color: var(--cinzaMaisEscuro);
  display: flex;
  flex-direction: column;
}

.profile-info h3 {
  margin: 0;
  font-size: 18px;
}

#nameProfile {
  color: var(--preto);
  font-size: 20px;
}

#nameProfile:hover {
  text-decoration: underline;
}

/* Simbolo de Verificado */

.verified-icon {
  background-color: #1da1f2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* Lista de Fotos */

.photo-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.photo-item {
  width: 120px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin: 10px;
}

/* Botão de Adicionar Lista */

.add-list-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--branco);
  color: var(--verde);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-list-icon:hover {
  background-color: var(--cinzaClaro);
}