body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--verde);
  background-color: var(--cremeClaro);
}
.cabecalho {
  text-align: center;
}

.cabecalhoo {
  /* background-color: #f1f1f1; */
  background-color: var(--creme);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nomeSite {
  font-weight: bold;
}

.telasNavegacao {
  display: flex;
  gap: 20px;
}

.telasNavegacao a {
  text-decoration: none;
  color: var(--verde);
}

.pesquisa {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
