.cabecalho {
  font-weight: bold;
  background-color: var(--verdeSuave);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nomeSite {
  font-weight: bold;
}

.telasNavegacao {
  display: flex;
  gap: 20px;
}

.telasNavegacao a {
  text-decoration: none;
  color: var(--preto);
}

.barraPesquisa {
  display: flex;
  align-items: center;
  gap: 8px;

  border: 1px solid var(--cinzaClaro);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 14px;
  width: 150px;
  transition: width 0.3s ease;
}

/* Realce */
.barraPesquisa:focus {
  width: 200px;
  outline: none;
  border-color: #666;
}
